<div class='faq-wrapper'>
  <h2>FAQ</h2>
  <div class='qa-wrapper'>
    <p class='question' slide-toggle="#reveal1">Wanting to buy a hammock? Here is how to get started?</p>
      <div id="reveal1" class='answer slideable'>
        <p>Our goal is to make our hammocks as hassle free as possible. All of our hammocks come with end-straps for extra strength and durability so our customers never have to worry about their knots coming undone. We also provide tree sleeves with pre-tied knots to protect from fray and provide even extra durability. Our customer never have to tie their own knots! Each hammock also comes with a set of aluminum wire-gate carabiners that work with our suspension system. All you need to do now is choose your of hammock.</p>
      </div>
  </div>
  <div class='qa-wrapper'>
    <p class='question' slide-toggle="#reveal2">How do I wash my Make Tracks hammock?</p>
    <div id="reveal2" class='answer slideable'>
      <p>You can machine wash or hand wash your hammock. <span>(NOTE: Do not put the hammock in the dryer! Air dry only!)</span></p>
      <p><span>Machine Wash:</span> First, remove the carabiners, then wash on cool in a front load washer on the delicate cycle seting. Use a mild detergent. Do not untie any knots!</p>
      <p><span>Hand Wash:</span> We recommend using a cloth with soap or mild detergent.</p>
    </div>
  </div>
  <div class='qa-wrapper'>
    <p class='question' slide-toggle="#reveal3">How do I care for my Make Tracks hammock?</p>
    <div id="reveal3" class='answer slideable'>
      <p><span>Safety:</span> In set up, insure that your straps are securely wrapped and the carabiners are closed. Ease into your hammock slowly to make sure it hangs securely.</p>
      <p><span>UV Damage:</span> UV damage can make the hammock fade in color and weaken the fabric which leads to tearing. We recommend when the hammock is not in use; pack it in its sack and store somewhere dry and cool.</p>
    </div>
  </div>
  <div class='qa-wrapper'>
    <p class='question' slide-toggle="#reveal4">Does the hammock come with straps?</p>
    <div id="reveal4" class='answer slideable'>
      <p>Our hammock package comes with everything you need for a great hammock experience. We use end-straps instead of knoted rope to attach to our carabiners for their reliability and strength. The package also comes with tree-sleeves, which consists a pre-knoted rope, encased by a nylon material to protect the rope from fraying.</p>
    </div>
  </div>
  <div class='qa-wrapper'>
    <p class='question' slide-toggle="#reveal5">Will I need straps to use the hammock?</p>
    <div id="reveal5" class='answer slideable'>
      <p>No, you do not need any extra straps than what is provided in the hammock package.</p>
    </div>
  </div>
  <div class='qa-wrapper'>
    <p class='question' slide-toggle="#reveal6">What is the maximum weight capacity of our hammocks?</p>
    <div id="reveal6" class='answer slideable'>
      <p>800 lbs!</p>
    </div>
  </div>
  <div class='qa-wrapper'>
    <p class='question' slide-toggle="#reveal7">What are the dimensions of your hammocks?</p>
    <div id="reveal7" class='answer slideable'>
      <p>Make Tracks hammock: 10 x 6.5 feet.</p>
      <p>Attached Stuff Sack: 8 inches x 4 inches x 8 inches.</p>
    </div>
  </div>
  <div class='qa-wrapper'>
    <p class='question' slide-toggle="#reveal8">How high do I need to hang the hammock?</p>
    <div id="reveal8" class='answer slideable'>
      <p>Around 1.5 - 2 feet from the ground at a minimum.</p>
    </div>
  </div>
  <div class='qa-wrapper'>
    <p class='question' slide-toggle="#reveal9">For set up, what is the best length to have between ends of the hammock?</p>
    <div id="reveal9" class='answer slideable'>
      <p>The best set up is around 12 feet from end to end.</p>
    </div>
  </div>
  <div class='qa-wrapper'>
    <p class='question' slide-toggle="#reveal10">What are the Make Tracks hammocks made of?</p>
    <div id="reveal10" class='answer slideable'>
      <p>All our hammocks are made of porous, breathable nylon taffeta. This porous quality lends itself to a cool and comfortable experience.</p>
    </div>
  </div>
  <div class='qa-wrapper'>
    <p class='question' slide-toggle="#reveal11">Will my dogs or cats nails puncture the hammock?</p>
    <div id="reveal11" class='answer slideable'>
      <p>It is definitely possible, be cautious!</p>
    </div>
  </div>
  <div class='qa-wrapper'>
    <p class='question' slide-toggle="#reveal12">Are your hammocks waterproof?</p>
    <div id="reveal12" class='answer slideable'>
      <p>Make Tracks hammocks are water resistant not waterproof.</p>
    </div>
  </div>
</div>
