<footer>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-4'></div>
      <div class='col-sm-4 social-footer'>
        <p>Follow Us</p>
        <a href='https://www.facebook.com/maketracksoutdoors/' target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href='https://www.instagram.com/maketracks_outdoors/' target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i><a>
        <a href='https://twitter.com/MTracksOutdoors' target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href='https://www.pinterest.com/m_tracks/pins/'><i class="fa fa-pinterest" aria-hidden="true"></i></a>
      </div>
      <div class='col-sm-4'></div>
    </div>
    <div class='row'>
      <div class='col-sm-3'></div>
      <div class='footer-nav col-sm-6'>
        <a ui-sref='outpost.refunds'>Refunds</a>
        <a ui-sref='outpost.faq'>FAQ</a>
        <a ui-sref='outpost.videos'>How to videos</a>
      </div>
      <div class='col-sm-3'></div>
    </div>
    <div class='copyright'>Make Tracks Outdoors <i class="fa fa-copyright" aria-hidden="true"></i> 2017. All Rights Reserved</div>
  </div>
</footer>
