<section class='hammocks-wrapper'>
  <div class='hammocks-banner'>
    <h1>HAMMOCKS</h1>
  </div>
  <div class='container'>
    <div class='hammock-gallery-wrapper row' >
      <div class='col-sm-12 featured'>Make Tracks Hammocks - Big Enough for 2</div>
      <div class='hammock-gallery col-md-12'>
        <div class='hammock-card' ng-repeat='hammock in hammocks' ui-sref='hammockDetails.specs({id: hammock.id})'>
          <img ng-src='{{hammock.image}}' alt="{{hammock.name}}">
          <div class='hammock-name'>{{hammock.name}}
            <div class='hammock-price'>${{hammock.price}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
fbq('track', 'CompleteRegistration');
</script>
