<section class='outpost-wrapper'>
  <!-- <div class='row'> -->
    <div class='outpost-banner'>
      <p>The</p>
      <h1>Outpost</h1>
    </div>
    <div class='nested-nav col-sm-12'>
      <div class='col-sm-4'></div>
      <div class='nested-links col-sm-4'>
          <a ui-sref='outpost.faq'>FAQ</a>
          <a ui-sref='outpost.videos'>How to Videos</a>
          <a ui-sref='outpost.refunds'>Refunds</a>
      </div>
      <div class='col-sm-4'></div>
    </div>
  <!-- </div> -->
  <div class='container'>
    <div class='row'>
      <div ui-view></div>
    </div>
  </div>
</section>
