<section class='contact-wrapper'>
  <div class='row'>
    <div class='contact-banner'>
      <h1>Contact Us</h1>
    </div>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='contact-content-wrapper'>
        <h2>Thank you for taking the time to contact us!</h2>
        <p>Have questions? Check out our <a ui-sref='outpost.faq'>FAQ</a> page!</p>
        <p>Email us anytime! Our office hours are EVERYDAY of the week 8 AM - 5 PM Mountain Standard Time. If you email us after hours, we'll respond the following day!</p>
        <div class='contact-email-icon'>
          <a href='mailto:zacboz@gmail.com'><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </div>
        <div class='contact-email'>
          <a href='mailto:zacboz@gmail.com'>help@maketracksoutdoors.com</a>
        </div>
      </div>
    </div>
  </div>
</section>


<div></div>
