<footer>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-4'></div>
      <div class='col-sm-4 social-footer'>
        <p>Follow Us</p>
        <a href=''><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href=''><i class="fa fa-instagram" aria-hidden="true"></i><a>
        <a href=''><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href=''><i class="fa fa-pinterest" aria-hidden="true"></i></a>
      </div>
      <div class='col-sm-4'></div>
    </div>
    <div class='row'>
      <div class='col-sm-3'></div>
      <div class='footer-nav col-sm-6'>
        <a href=''>Refunds</a>
        <a href=''>FAQ</a>
        <a href=''>How to videos</a>
      </div>
      <div class='col-sm-3'></div>
    </div>
  </div>
</footer>
