<section class='hammocks-details-wrapper'>
  <div class='container'>
    <div class='row'>
      <div class='product-picture col-sm-8'>
      </div>
      <div class='hammock-details col-sm-4'>
        <h2>Name<h2>
        <h3>Color</h3>
        <p>Description</p>
        <div class='extra-links'>
          <i class="fa fa-binoculars" aria-hidden="true"></i><span>SPECS</span>
          <i class="fa fa-play-circle-o" aria-hidden="true"></i><span>SETUP<span>
          <i class="fa fa-handshake-o" aria-hidden="true"></i><span>RETURNS</span>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='specs-wrapper col-sm-12'>
      <!-- <div class='product-nested-views col-sm-4'>
        <a ui-sref=''>SPECS</a>
        <a ui-sref=''>SETUP VIDEOS</a>
        <a ui-sref=''>RETURNS</a>
      <div class='col-sm-8'></div>
      <div ui-view></div> -->
    </div>
  </div>
</section>
