<section class='hammock-details-wrapper'>
  <div class='container'>
    <div class='row'>
      <div class='product-picture col-sm-8'>
        <img ng-src='{{hammock.image}}' alt="{{hammock.name}}">
      </div>
      <div class='hammock-details col-sm-4'>
        <h2>{{hammock.name}}<h2>
        <h3>{{hammock.color}}</h3>
        <p class='status'>{{hammock.status}}</p>
        <p class='desc'>{{hammock.desc}}</p>
        <div class='extra-links'>
          <i class="fa fa-binoculars" aria-hidden="true"></i><span>SPECS</span>
          <i class="fa fa-play-circle-o" aria-hidden="true"></i><span>SETUP<span>
          <i class="fa fa-handshake-o" aria-hidden="true"></i><span>RETURNS</span>
        </div>
        <p class='price'>${{hammock.price}}</p>
        <a class='buy-btn' href=''><div>BUY NOW</div></a>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='specs-wrapper col-sm-12'>
      <!-- <div class='product-nested-views col-sm-4'>
        <a ui-sref=''>SPECS</a>
        <a ui-sref=''>SETUP VIDEOS</a>
        <a ui-sref=''>RETURNS</a>
      <div class='col-sm-8'></div>
      <div ui-view></div> -->
    </div>
  </div>
</section>
