<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='col-md-6 in-bag-wrapper'>
        <h4>Everything Inside the Hammock Package:</h4>
        <h5>1. Hammock: (210T Nylon)</h5>
          <p>Dimensions: 10 ft x 6.5 ft</p>
        <h5>2. End Straps: (Nylon)</h5>
          <p>Capacity: adds additonal 150 lbs</p>
          <p>Our end straps eliminates the worry of knots coming untied, providing a safer experience.</p>
        <h5>3. 2 Aluminum Wiregate Carabiners:</h5>
          <p>Only 1.4 oz in weight ... helping reduce the weight of the total package.</p>
          <p>Capacity: adds additonal 150 lbs</p>
        <h5>4. Tree Protection Rope Sleeves:</h5>
          <p>Dimensions: sleeve covers 24 inches x 2 inches</p>
          <p>65 inches of doubled rope with 3 pre-tied knots for carabiners to latch onto.</p>
        <h5>5. Stuff Sack (Attached):</h5>
          <p>Dimensions: 8 inches x 4 inches x 8 inches </p>
        <div class='totals'>
          <h4>Total Capacity: 800 lbs</h4>
          <h4>Total Weight: 1.8 lbs</h4>
        </div>
    </div>
      <div class='col-md-6 hammock-icon-wrapper'>
        <h4>Features:</h4>
        <div class='feature-wrapper'>
          <img src='/img/badges/Carabiner Badge.png' alt='Ultra Light Weight Aluminum Carabiners'/>
          <p>Ultra Light Weight Aluminum Carabiners</p>
        </div>
        <div class='feature-wrapper'>
          <img src='/img/badges/Woven Badge.png' alt='Strong Breathable Woven Nylon'/>
          <p>Strong Breathable Woven Nylon</p>
        </div>
        <div class='feature-wrapper'>
          <img src='/img/badges/Stitch Badge.png' alt='Strong Triple Interlocking Stitching'/>
          <p>Strong Triple Interlocking Stitching</p>
        </div>
        <div class='feature-wrapper'>
          <img src='/img/badges/Knott Badge.png' alt='Ultra Strong Non-Stretch Ropes'/>
          <p>Ultra Strong Non-Stretch Ropes with Tree Protection Sleeves wit Pre-Tied Knots</p>
        </div>
        <div class='feature-wrapper'>
          <img src='/img/badges/Weight Badge.png' alt='Holds Up to 800 lbs'/>
          <p>Holds Up to 800 lbs</p>
        </div>
      </div>
    </div>
  </div>
</div>
