<div class='hammock-returns-wrapper'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 hammock-returns'>
        <h4>Refunds & Returns</h4>
        <p>Our goal is to make each customer happy. We want everyone to be <span>100%</span> satisfied with our
        products and their experience with Make Tracks Outdoors. Please contact us if for any reason
        you are not completely satisfied and we will make sure to make it right for you!</p>
        <div class='hammock-email-us'>
          <a><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class='col-sm-6 image-returns'>
        <img src='/img/girlinyosimite.jpg' alt='return policy' />
      </div>
    </div>
  </div>
</div>
