<section class='story-wrapper'>
  <div class='container'>
    <div class='row'>
      <div class='story-banner'>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-2'></div>
      <div class='story-content col-sm-8'>
        <h1>OUR STORY</h1>
        <p>We are a small, but very close family and like many other families, we've experienced some tragedy in our lives.</p>
        <p>Our daughter, Keira, passed away from cancer 3 years ago. Her life story continues to be a huge inspiration to each of us.
          She was very athletic and she especially loved nature and being outdoors. And, since her passing we have come to realize
          that life is too short, and that we need to enjoy living! We need to be doing what brings us joy and happiness.
          Spending time outdoors can be healing to the soul and helps us to appreciate life's simple beauties and all of nature's miracles.
          Our outdoor products have been created to help others to <span>"Get Out and Make Your Own Tracks"</span>, which is our motto.</p>
        <p>In a comparative study we have purchased many other hammocks from top name brands, and we feel that not only are our hammocks
          made of a higher quality, light weight fabric, but they also offer greater durability and are the most affordable of any hammocks
          on the market today. Plus we guarantee our products. If for any reason you are not 100% satisfied or happy with your purchase
          we will gladly refund or exchange your order.</p>
        <p>Let us help you <span>"Get Out and Make Your Own Tracks"</span>, too!</p>
      </div>
      <div class='col-sm-2'></div>
    </div>
  </div>

</section>
