.hammock-details-wrapper {
  margin-top: 60px; }

.product-picture img {
  width: 90%;
  height: 92vh; }

.hammock-details {
  margin-top: 8%;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.2px;
  font-size: 14px;
  color: #868686; }
  .hammock-details h2 {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #1c1c1c;
    text-transform: uppercase;
    margin-bottom: -10px; }
  .hammock-details h3 {
    margin-top: 0;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif; }
  .hammock-details .status {
    margin-top: 40px;
    color: #1c1c1c;
    font-weight: 600; }
  .hammock-details .desc {
    margin: 30px 0;
    line-height: 2;
    font-size: 12px; }
  .hammock-details .extra-links a {
    cursor: pointer;
    color: #1c1c1c;
    text-decoration: none; }
  .hammock-details .extra-links i {
    font-size: 15px; }
  .hammock-details .extra-links .fa-binoculars {
    font-size: 13px; }
  .hammock-details .extra-links span {
    margin-left: 5px;
    margin-right: 20px; }
  .hammock-details .price {
    margin: 30px 0;
    font-size: 22px;
    color: #1c1c1c;
    font-weight: 600; }
  .hammock-details .buy-btn {
    text-decoration: none;
    text-align: center; }
    .hammock-details .buy-btn div {
      width: 100%;
      padding: 15px 0px;
      background-color: #40d26e;
      color: white;
      font-weight: 600;
      font-size: 16px; }
    .hammock-details .buy-btn div:hover {
      background-color: rgba(64, 210, 110, 0.7);
      color: white; }

.specs-wrapper {
  height: 500px;
  background-color: #1c1c1c;
  margin-top: 60px;
  margin-bottom: 50px; }

.product-nested-views {
  height: 50px;
  padding: 15px 0px; }
  .product-nested-views a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    padding: 15px 20px; }
  .product-nested-views a:hover, .product-nested-views a:focus {
    background-color: black;
    color: #599001;
    border-bottom: 1px solid black; }

.in-bag-wrapper {
  padding-top: 10px;
  color: #868686;
  font-size: 12px;
  font-family: "Lato", sans-serif; }
  .in-bag-wrapper h4 {
    font-size: 15px;
    color: white; }
  .in-bag-wrapper h5 {
    font-size: 13px;
    color: #599001; }
  .in-bag-wrapper p {
    font-family: "Roboto Condensed", sans-serif;
    padding-left: 10px; }

.totals h4 {
  float: left;
  padding-right: 20px; }

.hammock-icon-wrapper {
  font-family: "Lato", sans-serif; }
  .hammock-icon-wrapper h4 {
    font-size: 15px;
    color: white; }
  .hammock-icon-wrapper .feature-wrapper {
    clear: both; }
    .hammock-icon-wrapper .feature-wrapper img {
      width: 14%;
      float: left; }
    .hammock-icon-wrapper .feature-wrapper p {
      color: white;
      font-size: 12px;
      float: left;
      padding-left: 20px;
      padding-top: 28px; }

.setup-content {
  margin-top: 100px;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: white; }

.hammock-returns {
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-top: 80px;
  font-size: 12px;
  color: #868686; }
  .hammock-returns h4 {
    color: white;
    font-size: 14px;
    margin-bottom: 30px; }
  .hammock-returns p {
    line-height: 2; }
  .hammock-returns .hammock-email-us {
    margin-top: 30px; }
    .hammock-returns .hammock-email-us i {
      cursor: pointer;
      color: #599001;
      font-size: 22px; }
    .hammock-returns .hammock-email-us i:hover {
      color: white; }

.image-returns {
  text-align: center;
  margin-top: 15px; }
  .image-returns img {
    width: 100%; }

.amazon-launch {
  margin-top: 200px;
  font-size: 30px;
  font-family: "Teko", sans-serif;
  letter-spacing: 10;
  text-align: center; }

.hammocks-banner {
  margin-top: 60px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/img/hammockview.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  text-align: center; }
  .hammocks-banner h1 {
    padding-top: 20vh;
    font-family: "Teko", sans-serif;
    color: white;
    letter-spacing: 11px;
    font-size: 80px; }

.hammock-gallery-wrapper {
  padding-top: 60px;
  padding-bottom: 100px; }
  .hammock-gallery-wrapper .featured {
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: "Lato", sans-serif;
    margin-bottom: 60px; }
  .hammock-gallery-wrapper .hammock-gallery {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    .hammock-gallery-wrapper .hammock-gallery .hammock-card {
      cursor: pointer;
      width: 31%;
      margin-left: 1%;
      margin-right: 1%;
      padding: 0 0;
      margin-bottom: 50px; }
      .hammock-gallery-wrapper .hammock-gallery .hammock-card img {
        border: 1px solid #cccccc;
        border-bottom: none;
        width: 100%;
        height: 450px; }
      .hammock-gallery-wrapper .hammock-gallery .hammock-card img:hover {
        background: rgba(255, 255, 255, 0.5); }
      .hammock-gallery-wrapper .hammock-gallery .hammock-card .hammock-name {
        border: 1px solid #cccccc;
        text-align: center;
        font-family: "Lato", sans-serif;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 10px 0px; }
        .hammock-gallery-wrapper .hammock-gallery .hammock-card .hammock-name .hammock-price {
          color: #cccccc;
          font-size: 11px;
          font-weight: 500;
          margin-top: 10px; }
    .hammock-gallery-wrapper .hammock-gallery .hammock-card:hover {
      box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1); }
      .hammock-gallery-wrapper .hammock-gallery .hammock-card:hover .hammock-name {
        border: 1px solid black;
        background-color: black;
        color: white; }
      .hammock-gallery-wrapper .hammock-gallery .hammock-card:hover .hammock-price {
        color: #599001; }

.home-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/tothetop.jpg");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 100vh; }

.home-banner-text {
  padding-top: 30vh;
  padding-left: 15vw;
  padding-right: 15vw;
  text-align: center;
  text-transform: uppercase;
  font-family: "Teko", sans-serif; }
  .home-banner-text h1 {
    font-size: 100px;
    color: white;
    letter-spacing: 4px;
    margin-bottom: 100px; }
  .home-banner-text a {
    cursor: pointer;
    color: #599001;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
    border: 4px solid white;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: white;
    border: 4px solid #599001;
    background-color: #599001;
    color: white; }
  .home-banner-text a:hover {
    border: 4px solid white;
    background-color: white;
    color: #599001; }

.home-gallery-wrapper {
  padding-top: 100px;
  padding-bottom: 100px; }
  .home-gallery-wrapper .featured {
    text-align: center;
    color: #1c1c1c;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: "Lato", sans-serif;
    margin-bottom: 70px; }
  .home-gallery-wrapper .feature-gallery {
    max-width: 100%; }
    .home-gallery-wrapper .feature-gallery .feature-card {
      cursor: pointer;
      max-width: 31%;
      margin-left: 1%;
      margin-right: 1%;
      padding: 0 0; }
      .home-gallery-wrapper .feature-gallery .feature-card img {
        border: 1px solid #cccccc;
        border-bottom: none;
        width: 100%;
        height: 450px; }
      .home-gallery-wrapper .feature-gallery .feature-card img:hover {
        background: rgba(255, 255, 255, 0.5); }
      .home-gallery-wrapper .feature-gallery .feature-card .feature-name {
        border: 1px solid #cccccc;
        text-align: center;
        font-family: "Lato", sans-serif;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 10px 0px; }
        .home-gallery-wrapper .feature-gallery .feature-card .feature-name .feature-price {
          color: #cccccc;
          font-size: 11px;
          font-weight: 500;
          margin-top: 10px; }
    .home-gallery-wrapper .feature-gallery .feature-card:hover {
      box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1); }
      .home-gallery-wrapper .feature-gallery .feature-card:hover .feature-name {
        border: 1px solid #1c1c1c;
        background-color: #1c1c1c;
        color: white; }
      .home-gallery-wrapper .feature-gallery .feature-card:hover .feature-price {
        color: #599001; }

.navbar-default {
  background-color: #191919;
  color: white;
  border: none; }

.navbar {
  min-height: 60px;
  margin-bottom: 0; }

.navbar-brand img {
  width: 200px;
  margin-top: -30px; }

.navbar-default .navbar-nav > li > a {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.7px; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: white;
  border-bottom: 2px solid #599001;
  padding-bottom: 5px; }

.nav > li > a {
  margin-left: 15px;
  margin-right: 15px;
  padding: 0px 0px;
  padding-top: 22px;
  padding-bottom: 18px; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: #191919;
  color: white; }

.dropdown-menu > li > a {
  background-color: #191919;
  color: #cccccc;
  font-family: "Lato", sans-serif; }

.dropdown-menu > li > a:hover {
  color: white;
  background-color: #191919; }

.navbar-nav > li > .dropdown-menu {
  margin-top: -1px; }

.dropdown-menu {
  background-color: #191919;
  min-width: 130px;
  padding: 10px 0; }

footer {
  padding-top: 70px;
  padding-bottom: 40px; }

.social-footer {
  text-align: center;
  margin-bottom: 30px; }
  .social-footer p {
    font-size: 14px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #191919;
    margin-bottom: 50px; }
  .social-footer i {
    width: 20%;
    font-size: 25px;
    color: #191919; }
  .social-footer i:hover {
    color: #599001; }

.footer-nav {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 0 9%; }
  .footer-nav a {
    color: #191919;
    text-decoration: none; }
  .footer-nav a:hover {
    color: #599001; }

.copyright {
  text-align: left;
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 140px; }

.outpost-wrapper {
  padding-bottom: 60px; }

.outpost-banner {
  margin-top: 60px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/img/angelslanding.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  text-align: center;
  text-transform: uppercase; }
  .outpost-banner p {
    padding-top: 15vh;
    font-family: "Teko", sans-serif;
    color: white;
    letter-spacing: 8px;
    font-size: 30px; }
  .outpost-banner h1 {
    padding-top: 2vh;
    font-family: "Teko", sans-serif;
    color: white;
    letter-spacing: 13px;
    font-size: 100px; }

.nested-nav {
  height: 40px;
  background-color: #599001;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center; }
  .nested-nav .nested-links {
    display: flex;
    justify-content: space-between; }
  .nested-nav a {
    color: white;
    text-decoration: none;
    padding-top: 10px; }
  .nested-nav a:hover, .nested-nav a:focus {
    border-bottom: 1px solid white;
    padding-bottom: 2px; }

.refund-wrapper {
  margin-top: 80px;
  padding-right: 15vw;
  padding-left: 15vw;
  text-align: center;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.2px;
  font-size: 14px;
  line-height: 3;
  color: #868686; }
  .refund-wrapper h2 {
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 3px;
    color: #1c1c1c; }
  .refund-wrapper span {
    color: #1c1c1c;
    font-weight: 600; }
  .refund-wrapper .email-us > a {
    color: #1c1c1c;
    font-size: 30px; }
  .refund-wrapper .email-us > a:hover {
    cursor: pointer;
    color: #599001; }

.videos-wrapper {
  margin-top: 80px;
  padding-right: 15vw;
  padding-left: 15vw;
  text-align: center;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.2px;
  font-size: 14px;
  line-height: 3;
  color: #868686; }
  .videos-wrapper h2 {
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 3px;
    color: #1c1c1c; }

.faq-wrapper {
  margin-top: 80px;
  padding-right: 10vw;
  padding-left: 10vw;
  text-align: center; }
  .faq-wrapper h2 {
    text-align: center;
    font-family: "Teko", sans-serif;
    margin-bottom: 30px;
    letter-spacing: 3px;
    color: #1c1c1c; }

.qa-wrapper {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.2px;
  font-size: 16px;
  color: #868686;
  line-height: 3; }

.question {
  cursor: pointer; }

.answer {
  color: #1c1c1c;
  line-height: 1.8;
  font-size: 14px;
  font-weight: 600; }
  .answer span {
    font-weight: 900;
    color: #599001; }

.story-wrapper {
  padding-bottom: 50px; }

.story-banner {
  margin-top: 60px;
  background-image: url("/img/keiraontherock.jpg");
  background-size: 90%;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh; }

.story-content {
  margin-top: 70px;
  text-align: center;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.2px;
  font-size: 12px;
  line-height: 3;
  color: #868686; }
  .story-content h1 {
    font-family: "Teko", sans-serif;
    margin-bottom: 30px;
    letter-spacing: 3px;
    color: #1c1c1c; }
  .story-content p {
    margin: 0 0 25px; }
  .story-content span {
    font-weight: 600;
    color: #1c1c1c; }
