.contact-wrapper {
  padding-bottom: 70px; }

.contact-banner {
  margin-top: 60px;
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("/img/gallery/sunrise/sunriseAFCanyonCouple.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  text-align: center;
  text-transform: uppercase; }
  .contact-banner h1 {
    padding-top: 23vh;
    font-family: "Teko", sans-serif;
    color: white;
    letter-spacing: 13px;
    font-size: 90px; }

.contact-content-wrapper {
  margin-top: 80px;
  text-align: center;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px; }
  .contact-content-wrapper h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600; }
  .contact-content-wrapper p {
    margin-top: 50px;
    padding: 0 15vw;
    line-height: 2;
    color: #868686; }
  .contact-content-wrapper a {
    text-decoration: none;
    color: #599001;
    font-weight: 600; }

.contact-email-icon {
  margin-top: 30px; }
  .contact-email-icon a {
    text-decoration: none;
    font-size: 40px;
    color: #1c1c1c; }
  .contact-email-icon a:hover {
    cursor: pointer;
    color: #599001; }

.contact-email {
  margin-top: 10px; }
  .contact-email a {
    text-decoration: none;
    font-size: 16px;
    font-family: "Archivo Narrow", sans-serif;
    letter-spacing: 2px;
    color: #599001; }

@media (max-width: 426px) {
  .contact-banner h1 {
    font-size: 55px;
    letter-spacing: 9px; }
  .contact-content-wrapper {
    letter-spacing: 1.5px; }
    .contact-content-wrapper h2 {
      font-size: 14px;
      padding: 0 10%; }
    .contact-content-wrapper p {
      font-size: 12px;
      margin-top: 30px;
      padding: 0 10vw;
      line-height: 2;
      color: #868686; }
    .contact-content-wrapper a {
      text-decoration: none;
      color: #599001;
      font-weight: 600; }
  .contact-email-icon a {
    font-size: 30px;
    color: #1c1c1c; }
  .contact-email-icon a:hover {
    cursor: pointer;
    color: #599001; }
  .contact-email a {
    font-size: 14px; } }

.hammock-details-wrapper {
  margin-top: 60px; }

.product-details-wrapper {
  margin-bottom: 30px; }

.product-picture .item img {
  padding-left: 10%;
  margin-top: 40px;
  width: 90%;
  height: auto; }

.carousel-control {
  background: none !important;
  filter: none !important;
  progid: none !important; }

.glyphicon-chevron-left {
  color: #cccccc;
  text-shadow: none; }

.glyphicon-chevron-right {
  color: #cccccc;
  text-shadow: none; }

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
  font-size: 20px; }

.hammock-details {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.2px;
  font-size: 14px;
  color: #868686;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 40px; }
  .hammock-details .hammock-heading {
    position: relative;
    top: 10%; }
    .hammock-details .hammock-heading h2 {
      font-family: "Lato", sans-serif;
      font-weight: 600;
      color: #1c1c1c;
      text-transform: uppercase;
      margin-bottom: -10px; }
    .hammock-details .hammock-heading h3 {
      margin-top: 0;
      font-size: 20px;
      font-family: "Roboto Condensed", sans-serif; }
  .hammock-details .hammock-status-desc {
    margin-top: 20%;
    margin-bottom: 5%; }
    .hammock-details .hammock-status-desc .status {
      color: #1c1c1c;
      font-weight: 600; }
    .hammock-details .hammock-status-desc .desc {
      margin-top: 5%;
      line-height: 2;
      font-size: 12px; }
  .hammock-details .extra-links a {
    cursor: pointer;
    color: #1c1c1c;
    text-decoration: none; }
  .hammock-details .extra-links i {
    font-size: 15px; }
  .hammock-details .extra-links .fa-binoculars {
    font-size: 13px; }
  .hammock-details .extra-links span {
    margin-left: 5px;
    margin-right: 20px; }
  .hammock-details .price {
    margin: 14% 0;
    font-size: 22px;
    color: #1c1c1c;
    font-weight: 600; }
  .hammock-details .buy-btn {
    text-decoration: none;
    text-align: center; }
    .hammock-details .buy-btn div {
      width: 100%;
      padding: 15px 0px;
      background-color: #3cbe5a;
      color: white;
      font-weight: 600;
      font-size: 16px; }
    .hammock-details .buy-btn div:hover {
      background-color: #40d26e;
      color: white; }

.specs-wrapper {
  height: 500px;
  background-color: #1c1c1c;
  margin-top: 60px;
  margin-bottom: 100px; }

.product-nested-views {
  height: 50px;
  padding: 15px 0px; }
  .product-nested-views a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    padding: 17px 22px; }
  .product-nested-views a:hover, .product-nested-views a:focus {
    background-color: black;
    color: #599001;
    border-bottom: 1px solid black; }

.in-bag-wrapper {
  padding-top: 10px;
  padding-left: 20px;
  font-size: 12px;
  font-family: "Lato", sans-serif; }
  .in-bag-wrapper h4 {
    font-size: 15px;
    color: white; }
  .in-bag-wrapper h5 {
    font-size: 13px;
    color: #76ad1d; }
  .in-bag-wrapper p {
    padding-left: 10px;
    color: #cccccc; }

.totals h4 {
  float: left;
  padding-right: 20px; }

.hammock-icon-wrapper {
  font-family: "Lato", sans-serif; }
  .hammock-icon-wrapper .feature-wrapper {
    clear: both; }
    .hammock-icon-wrapper .feature-wrapper img {
      width: 110%;
      float: left;
      margin-top: 12px; }

.setup-content {
  margin-top: 100px;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: white; }

.hammock-returns {
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-top: 80px;
  font-size: 12px;
  color: #cccccc; }
  .hammock-returns h4 {
    color: white;
    font-size: 14px;
    margin-bottom: 30px; }
  .hammock-returns p {
    line-height: 2; }
  .hammock-returns .hammock-email-icon a {
    text-decoration: none;
    font-size: 30px;
    color: white; }
  .hammock-returns .hammock-email-icon a:hover {
    cursor: pointer;
    color: #599001; }
  .hammock-returns .hammock-email {
    margin-top: 20px; }
    .hammock-returns .hammock-email a {
      text-decoration: none;
      font-size: 14px;
      font-family: "Archivo Narrow", sans-serif;
      letter-spacing: 2px;
      color: #599001; }

.image-returns {
  text-align: center;
  margin-top: 15px; }
  .image-returns img {
    width: 100%; }

.image-specs {
  text-align: center;
  margin-top: 35px; }
  .image-specs img {
    width: 100%; }

.amazon-launch {
  margin-top: 200px;
  font-size: 30px;
  font-family: "Teko", sans-serif;
  letter-spacing: 10;
  text-align: center; }

@media (max-width: 1025px) {
  .product-picture .item img {
    padding-left: 10%;
    margin-top: 50px;
    width: 90%;
    height: auto; }
  .hammock-details {
    font-size: 14px;
    height: 62vh; }
    .hammock-details .extra-links i {
      font-size: 13px; }
    .hammock-details .extra-links .fa-binoculars {
      font-size: 11px; }
    .hammock-details .extra-links span {
      margin-left: 5px;
      margin-right: 20px;
      font-size: 11px; }
  .in-bag-wrapper {
    padding-top: 0px;
    font-size: 10px; }
    .in-bag-wrapper h4 {
      font-size: 14px; }
    .in-bag-wrapper h5 {
      font-size: 12px; }
  .image-specs {
    margin-top: 65px; }
  .hammock-icon-wrapper .feature-wrapper img {
    width: 130%; }
  .image-returns {
    margin-top: 50px; } }

@media (max-width: 769px) {
  .specs-wrapper {
    height: 475px; }
  .product-details-wrapper {
    text-align: center; }
  .product-picture {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .product-picture .item img {
      padding-left: 0;
      margin-top: 30;
      width: auto;
      height: 70vh; }
  .hammock-details {
    font-size: 14px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0; }
    .hammock-details .hammock-heading {
      margin-top: 30px; }
      .hammock-details .hammock-heading h2 {
        margin-bottom: -10px; }
      .hammock-details .hammock-heading h3 {
        margin-top: 0;
        font-size: 20px; }
    .hammock-details .hammock-status-desc {
      margin-top: 8%;
      margin-bottom: 0%; }
      .hammock-details .hammock-status-desc .status {
        color: #1c1c1c;
        font-weight: 600; }
      .hammock-details .hammock-status-desc .desc {
        margin: 5% 10%;
        line-height: 2;
        font-size: 12px; }
    .hammock-details .extra-links i {
      font-size: 13px; }
    .hammock-details .extra-links .fa-binoculars {
      font-size: 11px; }
    .hammock-details .extra-links span {
      margin-left: 5px;
      margin-right: 20px;
      font-size: 12px; }
    .hammock-details .price {
      margin: 8% 0;
      font-size: 20px; }
    .hammock-details .buy-btn {
      margin-bottom: 5%;
      display: flex;
      justify-content: space-around; }
      .hammock-details .buy-btn div {
        width: 70%;
        padding: 15px 0px;
        text-align: center;
        font-size: 14px; }
  .image-specs {
    display: none; }
  .image-returns {
    text-align: center;
    margin-top: 108px; }
    .image-returns img {
      width: 95%; }
  .hammock-icon-wrapper {
    width: 11%; }
    .hammock-icon-wrapper .feature-wrapper {
      clear: both; }
      .hammock-icon-wrapper .feature-wrapper img {
        margin-top: 13px; }
  .hammock-specs-wrapper {
    display: flex;
    justify-content: space-between; }
  .in-bag-wrapper {
    padding-top: 5px;
    font-size: 11px; }
    .in-bag-wrapper h4 {
      font-size: 13px; }
    .in-bag-wrapper h5 {
      font-size: 12px; }
    .in-bag-wrapper p {
      padding-left: 10px; }
  .totals h4 {
    float: left;
    padding-right: 20px; }
  .product-nested-views a {
    font-size: 9px;
    padding: 19px 22px; } }

@media (max-width: 450px) {
  .specs-wrapper {
    height: 485px;
    margin-bottom: 30px; }
  .product-details-wrapper {
    text-align: center; }
  .product-picture {
    margin-top: 30px; }
    .product-picture .item img {
      margin-top: 0;
      width: 100%;
      height: auto; }
  .hammock-details {
    font-size: 12px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0; }
    .hammock-details .hammock-status-desc {
      margin-top: 13%;
      margin-bottom: 6%; }
      .hammock-details .hammock-status-desc .status {
        color: #1c1c1c;
        font-weight: 600; }
      .hammock-details .hammock-status-desc .desc {
        margin: 5% 10%;
        line-height: 2;
        font-size: 12px; }
    .hammock-details .extra-links {
      display: flex;
      justify-content: space-between;
      padding: 0 7%; }
      .hammock-details .extra-links i {
        font-size: 13px;
        margin: 5px; }
      .hammock-details .extra-links .fa-binoculars {
        font-size: 10px; }
      .hammock-details .extra-links span {
        margin-left: 0px;
        margin-right: 0px;
        font-size: 12px; }
    .hammock-details .price {
      margin: 8% 0;
      font-size: 20px; }
    .hammock-details .buy-btn {
      margin-bottom: 5%;
      display: flex;
      justify-content: space-around; }
      .hammock-details .buy-btn div {
        width: 70%;
        padding: 15px 0px;
        text-align: center;
        font-size: 14px; }
  .in-bag-wrapper {
    padding-top: 6px;
    font-size: 11px; }
    .in-bag-wrapper h4 {
      font-size: 12px; }
    .in-bag-wrapper h5 {
      font-size: 11px; }
    .in-bag-wrapper p {
      padding-left: 10px; }
  .hammock-icon-wrapper {
    display: none;
    width: 20%;
    padding-top: 5px; }
    .hammock-icon-wrapper .feature-wrapper {
      clear: both; }
      .hammock-icon-wrapper .feature-wrapper img {
        margin-top: 13px; }
  .image-returns {
    display: none; } }

@media (max-width: 321px) {
  .specs-wrapper {
    height: 500px; }
  .product-nested-views a {
    font-size: 9px;
    padding: 19px 16px; } }

@media (min-width: 1439px) {
  .product-picture {
    margin-top: 30px; }
    .product-picture .item img {
      padding-left: 10%;
      margin-top: 5vh;
      width: 90%;
      height: auto; }
  .hammock-details {
    height: 66vh; } }

.hammocks-banner {
  margin-top: 60px;
  background: linear-gradient(transparent, transparent), url("/img/gallery/woodland/woodlandAFCanyon.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  text-align: center; }
  .hammocks-banner h1 {
    padding-top: 23vh;
    font-family: "Teko", sans-serif;
    color: white;
    letter-spacing: 13px;
    font-size: 90px; }

.hammock-gallery-wrapper {
  padding-top: 60px;
  padding-bottom: 60px; }
  .hammock-gallery-wrapper .featured {
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: "Lato", sans-serif;
    margin-bottom: 60px; }
  .hammock-gallery-wrapper .hammock-gallery {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    .hammock-gallery-wrapper .hammock-gallery .hammock-card {
      cursor: pointer;
      width: 31%;
      margin-left: 1%;
      margin-right: 1%;
      padding: 0 0;
      margin-bottom: 50px; }
      .hammock-gallery-wrapper .hammock-gallery .hammock-card img {
        width: 100%; }
      .hammock-gallery-wrapper .hammock-gallery .hammock-card img:hover {
        background: rgba(255, 255, 255, 0.5); }
      .hammock-gallery-wrapper .hammock-gallery .hammock-card .hammock-name {
        text-align: center;
        font-family: "Lato", sans-serif;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 10px 0px; }
        .hammock-gallery-wrapper .hammock-gallery .hammock-card .hammock-name .hammock-price {
          color: #cccccc;
          font-size: 11px;
          font-weight: 500;
          margin-top: 10px; }
    .hammock-gallery-wrapper .hammock-gallery .hammock-card:hover {
      box-shadow: 0 1px 9px rgba(0, 0, 0, 0.15);
      border: 1px solid #cccccc; }
      .hammock-gallery-wrapper .hammock-gallery .hammock-card:hover .hammock-name {
        font-size: 16px;
        font-weight: 600; }
      .hammock-gallery-wrapper .hammock-gallery .hammock-card:hover .hammock-price {
        color: #76ad1d;
        font-size: 13px; }

@media (max-width: 769px) {
  .hammocks-banner h1 {
    font-size: 72px; }
  .hammock-gallery-wrapper {
    padding-bottom: 70px; }
    .hammock-gallery-wrapper .featured {
      font-size: 14px;
      margin-bottom: 60px; }
    .hammock-gallery-wrapper .hammock-gallery .hammock-card {
      width: auto;
      margin-left: 20%;
      margin-right: 20%;
      margin-bottom: 50px; } }

@media (max-width: 426px) {
  .hammocks-banner h1 {
    font-size: 55px;
    letter-spacing: 9px; }
  .hammock-gallery-wrapper {
    padding-bottom: 20px; }
    .hammock-gallery-wrapper .featured {
      font-size: 14px;
      margin-bottom: 60px; }
    .hammock-gallery-wrapper .hammock-gallery .hammock-card {
      width: auto;
      margin-left: 3%;
      margin-right: 3%;
      margin-bottom: 50px; }
      .hammock-gallery-wrapper .hammock-gallery .hammock-card img {
        height: auto; } }

.home-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/img/gallery/summit/summitAFCanyon.jpg");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100vh; }

.home-banner-text {
  padding-top: 30vh;
  margin: 0 15%;
  text-align: center;
  text-transform: uppercase;
  font-family: "Teko", sans-serif; }
  .home-banner-text h1 {
    font-size: 100px;
    color: white;
    letter-spacing: 4px;
    margin-bottom: 17vh; }
  .home-banner-text a {
    cursor: pointer;
    color: #599001;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
    border: 4px solid white;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: white;
    border: 4px solid #599001;
    background-color: #599001;
    color: white; }
  .home-banner-text a:hover {
    border: 4px solid #76ad1d;
    background-color: #76ad1d; }

.home-gallery-wrapper {
  padding-top: 100px;
  padding-bottom: 100px; }
  .home-gallery-wrapper .featured {
    text-align: center;
    color: #1c1c1c;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: "Lato", sans-serif;
    margin-bottom: 70px; }
  .home-gallery-wrapper .feature-gallery {
    max-width: 100%; }
    .home-gallery-wrapper .feature-gallery .feature-card {
      cursor: pointer;
      max-width: 31%;
      margin-left: 1%;
      margin-right: 1%;
      padding: 0 0; }
      .home-gallery-wrapper .feature-gallery .feature-card img {
        width: 100%; }
      .home-gallery-wrapper .feature-gallery .feature-card img:hover {
        background: rgba(255, 255, 255, 0.5); }
      .home-gallery-wrapper .feature-gallery .feature-card .feature-name {
        text-align: center;
        font-family: "Lato", sans-serif;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 10px 0px; }
        .home-gallery-wrapper .feature-gallery .feature-card .feature-name .feature-price {
          color: #cccccc;
          font-size: 11px;
          font-weight: 500;
          margin-top: 10px; }
    .home-gallery-wrapper .feature-gallery .feature-card:hover {
      box-shadow: 0 1px 9px rgba(0, 0, 0, 0.15);
      border: 1px solid #cccccc; }
      .home-gallery-wrapper .feature-gallery .feature-card:hover .feature-name {
        font-size: 16px;
        font-weight: 600; }
      .home-gallery-wrapper .feature-gallery .feature-card:hover .feature-price {
        color: #76ad1d;
        font-size: 13px; }

@media (max-width: 1025px) {
  .home-banner-text {
    padding-top: 32vh;
    margin: 0 10%; } }

@media (max-width: 769px) {
  .home-banner-text h1 {
    font-size: 72px;
    margin-bottom: 18vh; }
  .home-banner-text a {
    font-size: 12px; }
  .home-gallery-wrapper {
    padding-bottom: 70px; }
    .home-gallery-wrapper .feature-gallery .feature-card {
      max-width: none;
      margin-left: 20%;
      margin-right: 20%;
      margin-bottom: 50px; } }

@media (max-width: 426px) {
  .home-banner-text {
    padding-top: 25vh; }
    .home-banner-text h1 {
      font-size: 60px;
      margin-bottom: 18vh; }
    .home-banner-text a {
      font-size: 10px; }
  .home-gallery-wrapper {
    padding-bottom: 50px; }
    .home-gallery-wrapper .featured {
      font-size: 14px; }
    .home-gallery-wrapper .feature-gallery .feature-card {
      max-width: none;
      margin-left: 5%;
      margin-right: 5%; }
      .home-gallery-wrapper .feature-gallery .feature-card img {
        height: auto; } }

@media (max-width: 321px) {
  .home-banner-text {
    margin: 0 3%; }
    .home-banner-text h1 {
      font-size: 57px;
      margin-bottom: 16vh; }
    .home-banner-text a {
      font-size: 9px; } }

.navbar-default {
  background-color: #191919;
  color: white;
  border: none; }

.navbar {
  min-height: 60px;
  margin-bottom: 0; }

.navbar-brand img {
  width: 210px;
  margin-top: -8px; }

.navbar-default .navbar-nav > li > a {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.7px; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: white;
  border-bottom: 2px solid #599001;
  padding-bottom: 5px;
  margin-bottom: 11px; }

.nav > li > a {
  margin-left: 15px;
  margin-right: 15px;
  padding: 0px 0px;
  padding-top: 22px;
  padding-bottom: 18px;
  cursor: pointer; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: #191919;
  color: white; }

.dropdown-menu > li > a {
  background-color: #191919;
  color: #cccccc;
  font-family: "Lato", sans-serif; }

.dropdown-menu > li > a:hover {
  color: white;
  background-color: #191919; }

.navbar-nav > li > .dropdown-menu {
  margin-top: -1px; }

.dropdown-menu {
  background-color: #191919;
  min-width: 130px;
  padding: 10px 0; }

footer {
  padding-top: 70px;
  padding-bottom: 40px; }

.social-footer {
  text-align: center;
  margin-bottom: 30px; }
  .social-footer p {
    font-size: 14px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #191919;
    margin-bottom: 50px; }
  .social-footer i {
    width: 20%;
    font-size: 25px;
    color: #191919; }
  .social-footer i:hover {
    color: #599001; }

.footer-nav {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 0 9%; }
  .footer-nav a {
    color: #191919;
    text-decoration: none; }
  .footer-nav a:hover {
    color: #599001; }

.copyright {
  text-align: left;
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 140px; }

.modal-content {
  top: 150px; }

.modal-header {
  padding: 10px 10px;
  border-bottom: none; }

#be-tracker-form {
  padding: 0 50px; }
  #be-tracker-form h2 {
    text-align: center;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 6px;
    margin-top: 10px;
    margin-bottom: 10px; }
  #be-tracker-form p {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    color: black; }

#be-tracker-btn {
  background-color: #3cbe5a; }

#be-tracker-btn:hover {
  background-color: #40d26e; }

.sign-up-thanks {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1;
  padding-top: 0;
  padding-bottom: 35px;
  font-weight: 600; }

@media (max-width: 769px) {
  .navbar-brand img {
    width: 160px;
    margin-top: -2px; }
  .navbar-default .navbar-nav > li > a {
    font-size: 9px; }
  .dropdown-menu {
    min-width: 100px;
    padding: 10px 0;
    font-size: 10px; }
  .copyright {
    text-align: center; } }

@media (max-width: 426px) {
  .navbar-brand img {
    width: 160px;
    margin-top: -6px; }
  .navbar-default .navbar-toggle {
    border-color: #191919; }
  .navbar-toggle {
    margin-top: 11px;
    background-color: #191919;
    color: white; }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #191919; }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white; }
  .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-top: 3px; }
  .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #599001;
    border: none;
    padding-bottom: 10px;
    margin-bottom: 0px; }
  .nav > li > a {
    padding: 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .dropdown-menu {
    padding: 0px 0; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #599001;
    background-color: transparent; }
  .social-footer p {
    font-size: 11px; }
  .social-footer i {
    width: 15%;
    font-size: 20px; }
  .footer-nav {
    font-size: 8px;
    padding: 0 13%; }
  .ctct-custom-form {
    min-width: 299px; } }

.outpost-wrapper {
  padding-bottom: 60px; }

.outpost-banner {
  margin-top: 60px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/img/banners/angelslanding.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  text-align: center;
  text-transform: uppercase; }
  .outpost-banner p {
    padding-top: 15vh;
    font-family: "Teko", sans-serif;
    color: white;
    letter-spacing: 8px;
    font-size: 30px; }
  .outpost-banner h1 {
    padding-top: 2vh;
    font-family: "Teko", sans-serif;
    color: white;
    letter-spacing: 13px;
    font-size: 100px; }

.nested-nav {
  height: 40px;
  background-color: #599001;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center; }
  .nested-nav .nested-links {
    display: flex;
    justify-content: space-between; }
  .nested-nav a {
    color: white;
    text-decoration: none;
    padding-top: 10px; }
  .nested-nav a:hover, .nested-nav a:focus {
    border-bottom: 1px solid white;
    padding-bottom: 2px; }

.refund-wrapper {
  margin-top: 80px;
  padding-right: 15vw;
  padding-left: 15vw;
  text-align: center;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.2px;
  font-size: 14px;
  line-height: 3;
  color: #868686; }
  .refund-wrapper h2 {
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 3px;
    color: #1c1c1c; }
  .refund-wrapper span {
    color: #1c1c1c;
    font-weight: 600; }
  .refund-wrapper .outpost-email-icon a {
    text-decoration: none;
    font-size: 30px;
    color: #1c1c1c; }
  .refund-wrapper .outpost-email-icon a:hover {
    cursor: pointer;
    color: #599001; }
  .refund-wrapper .outpost-email {
    margin-top: -20px; }
    .refund-wrapper .outpost-email a {
      text-decoration: none;
      font-size: 14px;
      font-family: "Archivo Narrow", sans-serif;
      letter-spacing: 2px;
      color: #599001; }

.videos-wrapper {
  margin-top: 80px;
  padding-right: 15vw;
  padding-left: 15vw;
  text-align: center;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.2px;
  font-size: 14px;
  line-height: 3;
  color: #868686; }
  .videos-wrapper h2 {
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 3px;
    color: #1c1c1c; }

.faq-wrapper {
  margin-top: 80px;
  padding-right: 10vw;
  padding-left: 10vw;
  text-align: center; }
  .faq-wrapper h2 {
    text-align: center;
    font-family: "Teko", sans-serif;
    margin-bottom: 30px;
    letter-spacing: 3px;
    color: #1c1c1c; }

.qa-wrapper {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.2px;
  font-size: 16px;
  color: #868686;
  line-height: 3; }

.question {
  cursor: pointer; }

.answer {
  color: #1c1c1c;
  line-height: 1.8;
  font-size: 14px;
  font-weight: 600; }
  .answer span {
    font-weight: 900;
    color: #599001; }

@media (max-width: 426px) {
  .outpost-banner p {
    padding-top: 15vh;
    font-size: 30px; }
  .outpost-banner h1 {
    padding-top: 2vh;
    font-size: 55px; }
  .nested-nav {
    font-size: 11px; }
    .nested-nav .nested-links {
      padding: 0 13%; }
    .nested-nav a {
      padding-top: 11px; }
  .qa-wrapper {
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 2;
    margin-bottom: 10px; }
  .answer {
    line-height: 1.7;
    font-size: 11px; }
  .refund-wrapper {
    font-size: 11px; } }

.story-wrapper {
  padding-bottom: 50px; }

.story-banner {
  margin-top: 60px;
  background-image: url("/img/banners/keiraontherock.jpg");
  background-size: 90%;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh; }

.story-content {
  margin-top: 70px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.2px;
  font-size: 14px;
  line-height: 3;
  color: #868686;
  text-align: center; }
  .story-content h1 {
    font-family: "Teko", sans-serif;
    margin-bottom: 40px;
    letter-spacing: 3px;
    color: #1c1c1c; }
  .story-content p {
    margin: 0 0 25px; }
  .story-content span {
    font-weight: 600;
    color: #1c1c1c; }

.the-team {
  margin-top: 50px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.2px;
  font-size: 14px;
  line-height: 1;
  color: #868686;
  text-align: center; }
  .the-team h2 {
    font-family: "Teko", sans-serif;
    margin-bottom: 20px;
    letter-spacing: 3px;
    color: #1c1c1c; }
  .the-team p {
    margin: 0 0 25px; }
  .the-team span {
    font-weight: 600;
    color: #1c1c1c; }

@media (max-width: 426px) {
  .story-wrapper {
    padding-bottom: 20px; }
  .story-banner {
    height: 40vh;
    background-size: 100%; }
  .story-content {
    font-size: 12px; }
    .story-content h1 {
      font-size: 25px; } }

@media (min-width: 1439px) {
  .story-banner {
    background-size: 100%; } }
