$roboto: 'Roboto', sans-serif;
$lato: 'Lato', sans-serif;
$oswald: 'Oswald', sans-serif;
$cabin: 'Cabin', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$play: 'Play', sans-serif;
$kelly: rgb(89, 144, 1);
$forest: rgb(55, 77, 40);
$grey: rgb(204, 204, 204);
$cream: rgb(240, 238, 226);
$taupe: rgb(239, 238, 226);
$teko: 'Teko', sans-serif;
$cRoboto: 'Roboto Condensed', sans-serif;
$archivo: 'Archivo Narrow', sans-serif;
$lighten: rgba(64,210,110,0.7);
$action-hover: rgb(64, 210, 110);
$action: rgb(60, 190, 90);
$black: rgb(28, 28, 28);
$hoverkelly: rgb(118, 173, 29);


.hammock-details-wrapper{
  margin-top: 60px;
}

.product-picture{
  // margin: 40px 0px;
  img{
    width: 90%;
    height: 92vh;
  }
}

.hammock-details{
  font-family: $lato;
  letter-spacing: 1.2px;
  font-size: 14px;
  color: #868686;
  height: 78vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // position: relative;
  .hammock-heading{
    position: relative;
    top: 10%;
    h2{
      font-family: $lato;
      font-weight: 600;
      color: $black;
      text-transform: uppercase;
      margin-bottom: -10px;
    }
    h3{
      margin-top: 0;
      font-size: 20px;
      font-family: $cRoboto;
    }
  }
  .hammock-status-desc{
    margin-top: 20%;
    margin-bottom: 5%;
    .status{
      color: $black;
      font-weight: 600;
    }
    .desc {
      margin-top: 5%;
      line-height: 2;
      font-size: 12px;
    }
  }
  .extra-links{
    a{
      cursor: pointer;
      color: $black;
      text-decoration: none;
    }
    i{
      font-size: 15px;
    }
    .fa-binoculars{
      font-size: 13px;
    }
    span{
      margin-left: 5px;
      margin-right: 20px;
    }
  }
  .price {
    margin: 10% 0;
    font-size: 22px;
    color: $black;
    font-weight: 600;
  }
  .buy-btn {
    text-decoration: none;
    text-align: center;
    div{
      width: 100%;
      padding: 15px 0px;
      // border: 2px solid $black;
      background-color: $action;
      color: white;
      font-weight: 600;
      font-size: 16px;
    }
    div:hover{
      background-color: $action-hover;
      color: white;
    }
  }
}

.specs-wrapper {
  height: 500px;
  background-color: $black;
  margin-top: 60px;
  margin-bottom: 50px;
}

.product-nested-views{
  height: 50px;
  padding: 15px 0px;
  a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-family: $lato;
    letter-spacing: 1px;
    padding: 17px 22px;
  }
  a:hover, a:focus{
    background-color: black;
    color: $kelly;
    border-bottom: 1px solid black;
  }
}

.in-bag-wrapper{
  padding-top: 10px;
  padding-left: 20px;
  font-size: 12px;
  font-family: $lato;
  h4{
    font-size: 15px;
    // color: #cccccc;
    color: white;
  }
  h5{
    font-size: 13px;
    color: $hoverkelly;
    // color: white;
  }
  p{
    // font-family: $archivo;
    padding-left: 10px;
    // color: white;
    color: #cccccc;
  }
}
.totals{
  h4{
    float: left;
    padding-right: 20px;
  }
}

.hammock-icon-wrapper{
  // padding-top: 20px;
  font-family: $lato;
  .feature-wrapper{
    // width: 95%;
    clear: both;
    img{
      width: 110%;
      float: left;
      margin-top: 12px;
    }
  }
}

.setup-content{
  margin-top: 100px;
  text-align: center;
  font-family: $lato;
  color: white;
}


.hammock-returns{
  font-family: $lato;
  text-align: center;
  margin-top: 80px;
  font-size: 12px;
  color: #868686;
  h4{
    color: white;
    font-size: 14px;
    margin-bottom: 30px;
  }
  p{
    line-height: 2;
  }
  .hammock-email-icon{
    a{
      text-decoration: none;
      font-size: 30px;
      color: white;
    }
    a:hover{
        cursor: pointer;
        color: $kelly;
    }
  }

  .hammock-email{
    margin-top: 20px;
    a{
      text-decoration: none;
      font-size: 14px;
      font-family: $archivo;
      letter-spacing: 2px;
      color: $kelly;
    }
  }
}

.image-returns{
  text-align: center;
  margin-top: 15px;
  img{
    width: 100%;
  }
}

.image-specs{
  text-align: center;
  margin-top: 35px;
  // margin-right: 12px;
  img{
    width: 100%;
  }
}

.amazon-launch{
  margin-top: 200px;
  font-size: 30px;
  font-family: $teko;
  letter-spacing: 10;
  text-align: center;
}

@media (max-width: 1025px){
  .hammock-details{
    font-size: 14px;
    height: 78vh;
    .extra-links{
      i{
        font-size: 13px;
      }
      .fa-binoculars{
        font-size: 11px;
      }
      span{
        margin-left: 5px;
        margin-right: 20px;
        font-size: 12px;
      }
    }
  }

  .in-bag-wrapper{
    padding-top: 0px;
    font-size: 10px;
    h4{
      font-size: 14px;
    }
    h5{
      font-size: 12px;
    }
  }
  .image-specs{
    margin-top: 65px;
  }
  .hammock-icon-wrapper{
    .feature-wrapper{
      img{
        width: 130%;
      }
    }
  }
  .image-returns{
    margin-top: 50px;
  }

}

@media (max-width: 769px){
  .specs-wrapper {
    height: 475px;
  }

  .product-details-wrapper{
    text-align: center;

  }
  .product-picture{
    img{
      width: auto;
      height: 75vh;
    }
  }

  .hammock-details{
    font-size: 14px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .hammock-heading{
      position: relative;
      top: 15%;
      h2{
        margin-bottom: -10px;
      }
      h3{
        margin-top: 0;
        font-size: 20px;
      }
    }
    .hammock-status-desc{
      margin-top: 8%;
      margin-bottom: 0%;
      .status{
        color: $black;
        font-weight: 600;
      }
      .desc {
        margin: 5% 10%;
        line-height: 2;
        font-size: 12px;
      }
    }
    .extra-links{
      i{
        font-size: 13px;
      }
      .fa-binoculars{
        font-size: 11px;
      }
      span{
        margin-left: 5px;
        margin-right: 20px;
        font-size: 12px;
      }
    }
    .price {
      margin: 8% 0;
      font-size: 20px;
    }
    .buy-btn {
      margin-bottom: 5%;
      display: flex;
      justify-content: space-around;
      div{
        width: 70%;
        padding: 15px 0px;
        text-align: center;
        font-size: 14px;
      }
    }
  }

  .image-specs{
    display: none;
  }
  .image-returns{
    text-align: center;
    margin-top: 108px;
    img{
      width: 95%;
    }
  }

  .hammock-icon-wrapper{
    width: 11%;
    .feature-wrapper{
      clear: both;
      img{
        margin-top: 13px;
      }
    }
  }

  .hammock-specs-wrapper{
    display: flex;
    justify-content: space-between;
  }

  .in-bag-wrapper{
    padding-top: 5px;
    font-size: 11px;
    h4{
      font-size: 13px;
    }
    h5{
      font-size: 12px;
    }
    p{
      padding-left: 10px;
    }
  }

  .totals{
    h4{
      float: left;
      padding-right: 20px;
    }
  }

  .product-nested-views{
    a{
      font-size: 9px;
      padding: 19px 22px;
    }
  }

}

@media (max-width: 426px){
  .specs-wrapper {
    height: 455px;
  }

  .product-details-wrapper{
    text-align: center;

  }
  .product-picture{
    img{
      width: 90%;
      height: auto;
    }
  }

  .hammock-details{
    font-size: 12px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .hammock-heading{
      position: relative;
      top: 15%;
      h2{
        margin-bottom: -10px;
      }
      h3{
        margin-top: 0;
        font-size: 20px;
      }
    }
    .hammock-status-desc{
      margin-top: 13%;
      margin-bottom: 6%;
      .status{
        color: $black;
        font-weight: 600;
      }
      .desc {
        margin: 5% 10%;
        line-height: 2;
        font-size: 10px;
      }
    }
    .extra-links{
      display: flex;
      justify-content: space-between;
      padding: 0 7%;
      i{
        font-size: 13px;
        margin: 5px;
      }
      .fa-binoculars{
        font-size: 10px;
      }
      span{
        margin-left: 0px;
        margin-right: 0px;
        font-size: 12px;
      }
    }
    .price {
      margin: 12% 0;
      font-size: 20px;
    }
    .buy-btn {
      margin-bottom: 5%;
      display: flex;
      justify-content: space-around;
      div{
        width: 70%;
        padding: 15px 0px;
        text-align: center;
        font-size: 14px;
      }
    }
  }
  .in-bag-wrapper{
    padding-top: 6px;
    font-size: 9px;
    h4{
      font-size: 11px;
    }
    h5{
      font-size: 10px;
    }
    p{
      padding-left: 10px;
    }
  }

  .hammock-icon-wrapper{
    width: 20%;
    padding-top: 7px;
    .feature-wrapper{
      clear: both;
      img{
        margin-top: 13px;
      }
    }
  }
  .image-returns{
    display: none;
  }


  @media (max-width: 321px){
    .product-nested-views{
      a{
        font-size: 9px;
        padding: 19px 21px;
      }
    }
    .hammock-icon-wrapper{
      display: none;
    }

  }


}
