$roboto: 'Roboto', sans-serif;
$lato: 'Lato', sans-serif;
$kelly: rgb(89, 144, 1);
$grey: rgb(204, 204, 204);
$teko: 'Teko', sans-serif;
$cRoboto: 'Roboto Condensed', sans-serif;
$archivo: 'Archivo Narrow', sans-serif;
$lighten: rgba(64,210,110,0.7);
$action-hover: rgb(64, 210, 110);
$action: rgb(60, 190, 90);
$black: rgb(28, 28, 28);
$hoverkelly: rgb(118, 173, 29);

.hammock-details-wrapper{
  margin-top: 60px;
}
.product-details-wrapper{
  margin-bottom: 30px;
}

.product-picture{
  .item{
    img{
      padding-left: 10%;
      margin-top: 40px;
      width: 90%;
      height: auto;
    }
  }
}

.carousel-control {
  background: none !important;
  filter: none !important;
  progid: none !important;
}

.glyphicon-chevron-left{
  color: $grey;
  text-shadow: none;
}

.glyphicon-chevron-right{
  color: $grey;
  text-shadow: none;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
  font-size: 20px;
}

.hammock-details{
  font-family: $lato;
  letter-spacing: 1.2px;
  font-size: 14px;
  color: #868686;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 30px;
  .hammock-heading{
    position: relative;
    top: 10%;
    h2{
      font-family: $lato;
      font-weight: 600;
      color: $black;
      text-transform: uppercase;
      margin-bottom: -10px;
    }
    h3{
      margin-top: 0;
      font-size: 20px;
      font-family: $cRoboto;
    }
  }
  .hammock-status-desc{
    margin-top: 20%;
    margin-bottom: 5%;
    .status{
      color: $black;
      font-weight: 600;
    }
    .desc {
      margin-top: 5%;
      line-height: 2;
      font-size: 12px;
    }
  }
  .extra-links{
    a{
      cursor: pointer;
      color: $black;
      text-decoration: none;
    }
    i{
      font-size: 15px;
    }
    .fa-binoculars{
      font-size: 13px;
    }
    span{
      margin-left: 5px;
      margin-right: 20px;
    }
  }
  .price {
    margin: 14% 0;
    font-size: 22px;
    color: $black;
    font-weight: 600;
  }
  .buy-btn {
    text-decoration: none;
    text-align: center;
    div{
      width: 100%;
      padding: 15px 0px;
      // border: 2px solid $black;
      background-color: $action;
      color: white;
      font-weight: 600;
      font-size: 16px;
    }
    div:hover{
      background-color: $action-hover;
      color: white;
    }
  }
}

.specs-wrapper {
  height: 500px;
  background-color: $black;
  margin-top: 60px;
  margin-bottom: 100px;
}

.product-nested-views{
  height: 50px;
  padding: 15px 0px;
  a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-family: $lato;
    letter-spacing: 1px;
    padding: 17px 22px;
  }
  a:hover, a:focus{
    background-color: black;
    color: $kelly;
    border-bottom: 1px solid black;
  }
}
//hammock.specs styles
.in-bag-wrapper{
  padding-top: 10px;
  padding-left: 20px;
  font-size: 12px;
  font-family: $lato;
  h4{
    font-size: 15px;
    color: white;
  }
  h5{
    font-size: 13px;
    color: $hoverkelly;
  }
  p{
    padding-left: 10px;
    color: #cccccc;
  }
}
.totals{
  h4{
    float: left;
    padding-right: 20px;
  }
}

.hammock-icon-wrapper{
  font-family: $lato;
  .feature-wrapper{
    clear: both;
    img{
      width: 110%;
      float: left;
      margin-top: 12px;
    }
  }
}
//hammock.setup styles
.setup-content{
  margin-top: 100px;
  text-align: center;
  font-family: $lato;
  color: white;
}
//hammock.returns styles
.hammock-returns{
  font-family: $lato;
  text-align: center;
  margin-top: 80px;
  font-size: 12px;
  color: #cccccc;
  h4{
    color: white;
    font-size: 14px;
    margin-bottom: 30px;
  }
  p{
    line-height: 2;
  }
  .hammock-email-icon{
    a{
      text-decoration: none;
      font-size: 30px;
      color: white;
    }
    a:hover{
        cursor: pointer;
        color: $kelly;
    }
  }

  .hammock-email{
    margin-top: 20px;
    a{
      text-decoration: none;
      font-size: 14px;
      font-family: $archivo;
      letter-spacing: 2px;
      color: $kelly;
    }
  }
}

.image-returns{
  text-align: center;
  margin-top: 15px;
  img{
    width: 100%;
  }
}

.image-specs{
  text-align: center;
  margin-top: 35px;
  img{
    width: 100%;
  }
}

.amazon-launch{
  margin-top: 200px;
  font-size: 30px;
  font-family: $teko;
  letter-spacing: 10;
  text-align: center;
}
//tablet styles
@media (max-width: 1025px){
  .product-picture{
    .item{
      img{
        padding-left: 10%;
        margin-top: 50px;
        width: 90%;
        height: auto;
      }
    }
  }

  .hammock-details{
    font-size: 14px;
    height: 62vh;
    margin-top: 5px;
    .extra-links{
      i{
        font-size: 13px;
      }
      .fa-binoculars{
        font-size: 11px;
      }
      span{
        margin-left: 5px;
        margin-right: 20px;
        font-size: 11px;
      }
    }
  }

  .in-bag-wrapper{
    padding-top: 0px;
    font-size: 10px;
    h4{
      font-size: 14px;
    }
    h5{
      font-size: 12px;
    }
  }
  .image-specs{
    margin-top: 65px;
  }
  .hammock-icon-wrapper{
    .feature-wrapper{
      img{
        width: 130%;
      }
    }
  }
  .image-returns{
    margin-top: 50px;
  }
}//end 1025

@media (max-width: 769px){
  .specs-wrapper {
    height: 475px;
  }

  .product-details-wrapper{
    text-align: center;
  }
  .product-picture{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .item{
      img{
        padding-left: 0;
        margin-top: 30;
        width: auto;
        height: 70vh;
      }
    }
  }

  .hammock-details{
    font-size: 14px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0;
    .hammock-heading{
      margin-top: 30px;
      h2{
        margin-bottom: -10px;
      }
      h3{
        margin-top: 0;
        font-size: 20px;
      }
    }
    .hammock-status-desc{
      margin-top: 8%;
      margin-bottom: 0%;
      .status{
        color: $black;
        font-weight: 600;
      }
      .desc {
        margin: 5% 10%;
        line-height: 2;
        font-size: 12px;
      }
    }
    .extra-links{
      i{
        font-size: 13px;
      }
      .fa-binoculars{
        font-size: 11px;
      }
      span{
        margin-left: 5px;
        margin-right: 20px;
        font-size: 12px;
      }
    }
    .price {
      margin: 8% 0;
      font-size: 20px;
    }
    .buy-btn {
      margin-bottom: 5%;
      display: flex;
      justify-content: space-around;
      div{
        width: 70%;
        padding: 15px 0px;
        text-align: center;
        font-size: 14px;
      }
    }
  }

  .image-specs{
    display: none;
  }
  .image-returns{
    text-align: center;
    margin-top: 108px;
    img{
      width: 95%;
    }
  }

  .hammock-icon-wrapper{
    width: 11%;
    .feature-wrapper{
      clear: both;
      img{
        margin-top: 13px;
      }
    }
  }

  .hammock-specs-wrapper{
    display: flex;
    justify-content: space-between;
  }

  .in-bag-wrapper{
    padding-top: 5px;
    font-size: 11px;
    h4{
      font-size: 13px;
    }
    h5{
      font-size: 12px;
    }
    p{
      padding-left: 10px;
    }
  }

  .totals{
    h4{
      float: left;
      padding-right: 20px;
    }
  }

  .product-nested-views{
    a{
      font-size: 9px;
      padding: 19px 22px;
    }
  }
}//end of 769

//mobile styles
@media (max-width: 450px){
  .specs-wrapper {
    height: 485px;
    margin-bottom: 30px;
  }

  .product-details-wrapper{
    text-align: center;

  }
  .product-picture{
    margin-top: 30px;
    .item{
      img{
        margin-top: 0;
        width: 100%;
        height: auto;
      }
    }
  }

  .hammock-details{
    font-size: 12px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0;
    .hammock-heading{
    }
    .hammock-status-desc{
      margin-top: 13%;
      margin-bottom: 6%;
      .status{
        color: $black;
        font-weight: 600;
      }
      .desc {
        margin: 5% 10%;
        line-height: 2;
        font-size: 12px;
      }
    }
    .extra-links{
      display: flex;
      justify-content: space-between;
      padding: 0 7%;
      i{
        font-size: 13px;
        margin: 5px;
      }
      .fa-binoculars{
        font-size: 10px;
      }
      span{
        margin-left: 0px;
        margin-right: 0px;
        font-size: 12px;
      }
    }
    .price {
      margin: 8% 0;
      font-size: 20px;
    }
    .buy-btn {
      margin-bottom: 5%;
      display: flex;
      justify-content: space-around;
      div{
        width: 70%;
        padding: 15px 0px;
        text-align: center;
        font-size: 14px;
      }
    }
  }
  .in-bag-wrapper{
    padding-top: 6px;
    font-size: 11px;
    h4{
      font-size: 12px;
    }
    h5{
      font-size: 11px;
    }
    p{
      padding-left: 10px;
    }
  }

  .hammock-icon-wrapper{
    display: none;
    width: 20%;
    padding-top: 5px;
    .feature-wrapper{
      clear: both;
      img{
        margin-top: 13px;
      }
    }
  }
  .image-returns{
    display: none;
  }
}//end of 425

@media (max-width: 321px){
  .specs-wrapper {
    height: 500px;
  }

  .product-nested-views{
    a{
      font-size: 9px;
      padding: 19px 16px;
    }
  }
}//end of 321

@media (min-width: 1439px){
  .product-details-wrapper{
    margin-bottom: 70px;
  }

  .product-picture{
    margin-top: 30px;
    .item{
      img{
        padding-left: 10%;
        margin-top: 5vh;
        width: 90%;
        height: auto;
      }
    }
  }
  .hammock-details{
    height: 66vh;
  }

}//end of 1439
