$roboto: 'Roboto', sans-serif;
$lato: 'Lato', sans-serif;
$kelly: rgb(89, 144, 1);
$grey: rgb(204, 204, 204);
$teko: 'Teko', sans-serif;
$cRoboto: 'Roboto Condensed', sans-serif;
$archivo: 'Archivo Narrow', sans-serif;
$lighten: rgba(255,255,255,0.5);
$black: rgb(28, 28, 28);

.outpost-wrapper{
  padding-bottom: 60px;
}

.outpost-banner{
  margin-top: 60px;
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('/img/banners/angelslanding.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  text-align: center;
  text-transform: uppercase;
  p{
    padding-top: 15vh;
    font-family: $teko;
    color: white;
    letter-spacing: 8px;
    font-size: 30px;
  }
  h1{
    padding-top: 2vh;
    font-family: $teko;
    color: white;
    letter-spacing: 13px;
    font-size: 100px;
  }
}

.nested-nav{
  height: 40px;
  background-color: $kelly;
  font-family: $lato;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  .nested-links{
    display: flex;
    justify-content: space-between;
  }
  a{
    color: white;
    text-decoration: none;
    padding-top: 10px;
  }
  a:hover, a:focus{
    border-bottom: 1px solid white;
    padding-bottom: 2px;
  }
}
//outpost.refund styles
.refund-wrapper{
  margin-top: 80px;
  padding-right: 15vw;
  padding-left: 15vw;
  text-align: center;
  font-family: $lato;
  letter-spacing: 1.2px;
  font-size: 14px;
  line-height: 3;
  color: #868686;
  h2{
    font-family: $teko;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 3px;
    color: $black;
  }
  span{
    color: $black;
    font-weight: 600;
  }
  .outpost-email-icon{
    a{
      text-decoration: none;
      font-size: 30px;
      color: $black;
    }
    a:hover{
        cursor: pointer;
        color: $kelly;
    }
  }

  .outpost-email{
    margin-top: -20px;
    a{
      text-decoration: none;
      font-size: 14px;
      font-family: $archivo;
      letter-spacing: 2px;
      color: $kelly;
    }
  }
}
//outpost.videos styles
.videos-wrapper{
  margin-top: 80px;
  padding-right: 15vw;
  padding-left: 15vw;
  text-align: center;
  font-family: $lato;
  letter-spacing: 1.2px;
  font-size: 14px;
  line-height: 3;
  color: #868686;
  h2{
    font-family: $teko;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 3px;
    color: $black;
  }
}
//outpost.faq styles
.faq-wrapper{
  margin-top: 80px;
  padding-right: 10vw;
  padding-left: 10vw;
  text-align: center;

  h2{
    text-align: center;
    font-family: $teko;
    margin-bottom: 30px;
    letter-spacing: 3px;
    color: $black;
  }
}

.qa-wrapper{
  font-family: $lato;
  letter-spacing: 1.2px;
  font-size: 16px;
  color: #868686;
  line-height: 3;
}
.question {
  cursor: pointer;
}
.answer{
  span{
    font-weight: 900;
    color: $kelly;
  }
  color: $black;
  line-height: 1.8;
  font-size: 14px;
  font-weight: 600;
}

//mobiles styles
@media (max-width: 426px){
  .outpost-banner{
    p{
      padding-top: 15vh;
      font-size: 30px;
    }
    h1{
      padding-top: 2vh;
      font-size: 55px;
    }
  }

  .nested-nav{
    font-size: 11px;
    .nested-links{
      padding: 0 13%;
    }
    a{
      padding-top: 11px;
    }
  }
  .qa-wrapper{
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 2;
    margin-bottom: 10px;
  }
  .answer{
    line-height: 1.7;
    font-size: 11px;
  }

  .refund-wrapper{
    font-size: 11px;
  }
}//end of 426
