$roboto: 'Roboto', sans-serif;
$lato: 'Lato', sans-serif;
$oswald: 'Oswald', sans-serif;
$cabin: 'Cabin', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$play: 'Play', sans-serif;
$kelly: rgb(89, 144, 1);
$forest: rgb(55, 77, 40);
$grey: rgb(204, 204, 204);
$cream: rgb(240, 238, 226);
$taupe: rgb(239, 238, 226);
$teko: 'Teko', sans-serif;
$cRoboto: 'Roboto Condensed', sans-serif;
$archivo: 'Archivo Narrow', sans-serif;
$lighten: rgba(255,255,255,0.5);
$buy-green: rgb(44, 216, 146);


.hammock-details-wrapper{
  margin-top: 60px;
}

.product-picture{
  // margin: 40px 0px;
  img{
    width: 90%;
    height: 92vh;
  }
}

.hammock-details{
  margin-top: 8%;
  font-family: $lato;
  letter-spacing: 1.2px;
  font-size: 14px;
  color: $grey;
  h2{
    font-family: $lato;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    margin-bottom: -10px;
  }
  h3{
    margin-top: 0;
    font-size: 20px;
    font-family: $cRoboto;
  }
  .status{
    margin-top: 40px;
    color: $kelly;
    font-weight: 600;
  }
  .desc {
    margin: 30px 0;
    line-height: 2;
    font-size: 12px;
  }
  .extra-links{
    color: black;
    i{
      font-size: 15px;
    }
    .fa-binoculars{
      font-size: 13px;
    }
    span{
      margin-left: 5px;
      margin-right: 10px;
    }
  }
  .price {
    margin: 30px 0;
    font-size: 22px;
    color: black;
    font-weight: 600;
  }
  .buy-btn {
    text-decoration: none;
    text-align: center;
    div{
      width: 100%;
      padding: 15px 0px;
      // border: 2px solid $kelly;
      background-color: $kelly;
      color: white;
      font-weight: 600;
      font-size: 16px;
    }
    div:hover{
      background-color: $buy-green;
      // background-color: $kelly;
    }
  }
}

.specs-wrapper {
  height: 500px;
  background-color: black;
}
