$roboto: 'Roboto', sans-serif;
$lato: 'Lato', sans-serif;
$oswald: 'Oswald', sans-serif;
$cabin: 'Cabin', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$play: 'Play', sans-serif;
$kelly: rgb(89, 144, 1);
$forest: rgb(55, 77, 40);
$grey: rgb(204, 204, 204);
$cream: rgb(240, 238, 226);
$taupe: rgb(239, 238, 226);
$olive: rgb(109, 131, 31);
$teko: 'Teko', sans-serif;
$cRoboto: 'Roboto Condensed', sans-serif;
$archivo: 'Archivo Narrow', sans-serif;
$lighten: rgba(255,255,255,0.5);


.story-banner{
  background-image: url();
  background-size: cover;
  background-position: center;
}

.story-content{
  margin-top: 100px;
  text-align: center;
  font-family: $lato;
  letter-spacing: 1.2px;
  font-size: 12px;
  line-height: 3;
  color: #868686;
  h1{
    font-family: $teko;
    margin-bottom: 30px;
    letter-spacing: 3px;
    color: black;

  }
}
